* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

@font-face {
  font-family: "Autaut";
  src: url("AutautGrotesk-Medium.otf");
}

@font-face {
  font-family: "Calps";
  src: url("Calps-Medium.ttf");
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Autaut";
  transform: scaleY(1.8);
}

.text-field {
  margin-bottom: 200px;
  width: 30%;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 400px;
}

body {
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.text-field h3 {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Autaut";
  font-size: 5.7rem;
  font-weight: 500;
  line-height: 57px;
  letter-spacing: -0.25px;
  transform: scaleY(1.6);
}

.blurLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(1px);
  background: rgba(255, 255, 255, 0.199);
  z-index: 999;
}

input {
  width: 20%;
  height: 4%;
  border: 1px solid black;
  outline: 0;
  border-radius: 10px;
  font-size: 1rem;
  padding: 12px 16px;
  z-index: 999999999;
  position: absolute;
  bottom: 20px;
}
